@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Mulish';
  src: url('/Font/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}